global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'redpanda'
    static_configs:
      - targets:
        {% for host in groups['redpanda'] %}
        - '{{ hostvars[host].ansible_host }}:9644'
        {% endfor %}

  - job_name: 'redpanda-console'
    static_configs:
      - targets:
        - 'localhost:8080'