global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'redpanda'
    static_configs:
      - targets:
{% for host in groups['redpanda'] %}
        - '{{ hostvars[host].node_ip }}:9644'
{% endfor %}
    metrics_path: /public_metrics