redpanda:
  data_directory: {{ data_directory }}
  empty_seed_starts_cluster: false
  node_id: {{ node_id }}
  developer_mode: true
  seed_servers:
    - address: {{ redpanda_0_ip }}
      port: 33145
    - address: {{ redpanda_1_ip }}
      port: 33145
    - address: {{ redpanda_2_ip }}
      port: 33145
  rpc_server: 
    address: {{ node_ip }}
    port: 33145
  kafka_api:
    - address: {{ node_ip }}
      port: 9092
  admin:
    - address: {{ node_ip }}
      port: 9644
  advertised_rpc_api:
    address: {{ node_ip }}
    port: 33145
  advertised_kafka_api:
    - address: {{ node_ip }}
      port: 9092
    - address: {{ external_host }}
      port: 9092
