redpanda:
  data_directory: "{{ data_directory }}"
  node_id: {{ node_id }}
  seed_servers:
    {% if node_id != 1 %}
    - host:
        address: "{{ seed_node.split(':')[0] }}"
        port: {{ seed_node.split(':')[1] }}
    {% endif %}
  rpc_server:
    address: "{{ ansible_host }}"
    port: {{ rpc_port }}
  kafka_api:
    - address: "{{ ansible_host }}"
      port: {{ kafka_port }}
  admin:
    - address: "{{ ansible_host }}"
      port: 9644
  developer_mode: false
  auto_create_topics_enabled: true

rpk:
  tune_network: true
  tune_disk_scheduler: true
  tune_disk_nomerges: true
  tune_disk_write_cache: true
  tune_disk_irq: true
  tune_cpu: true
  tune_aio_events: true
  tune_clocksource: true
  tune_swappiness: true
  coredump_dir: /var/lib/redpanda/coredump